.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0eff6;
  border-radius: 18px;
}

.navbar-logo img {
  height: 80px;
}

.navbar-links {
  display: flex;
  list-style-type: none;
  padding-left: 0px;
}

.navbar-links li {
  margin: 0 10px;
  transition: 0.3s ease-in-out;
  position: relative;
}

.navbar-links li:hover {
  color: #ff4d4d;
}

.navbar-links li:hover::after {
  width: 100%;
}

.navbar-links li::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff4d4d;
  transition: width 0.3s ease-in-out;
}

.navbar-links a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  letter-spacing: 1px;
}
